body
{
	background-color: #2A3132;
}
h1
{
	text-align: center;
	font-size: 50px;
	color: #90AFC5;
}
form
{
	margin: 20px auto;
	width: 320px;
	color: #90AFC5; 
}
input
{
	padding: 10px;
	font-size: inherit;
}

input:hover 
{
	background-color: #55FFbb;
}

input[type="text"]
{
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid #90AFC5;  
}
input[type="email"]
{
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid #90AFC5;  
}
input[type="instagram"]
{
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid #90AFC5;  
}
input[type="phonenumber"]
{
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid #90AFC5;  
}
input[type="radio"]
{
	margin: 0 8px 25px 18px;
}
input[type="radio"]:first-child
{
	margin-left:0; 
}
input[ type="submit" ]
{
	width:344px;
	height: 45px;
	border: none;
	background: #90AFC5;
	color: white;
	cursor: pointer;
}
input:focus
{
	background: pink;
	font-family: 'Lobster', cursive;
}

/* :hover   =>   do stuff when you hover over it*/
/* :active  =>   do stuff when mouse is clicked down*/
/* :focus   =>   do stuff when mouse has clicked something*/
/* :visited =>   do stuff when already been click*/
